---
title: Tags
layout: default
permalink: /tags/
header-img: assets/img/banner.jpg
---

{% include header.html %}

<div
    class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}"
    data-theme="{{ site.theme-color }}"
    style="{% if page.header-img %}background: url({{ page.header-img | relative_url }}) no-repeat center center; background-size: cover;{% endif %}">
    <h2>TAGS</h2>
    <h3>list tags here</h3>
</div>

<main class="g-container home-content">



    <div class="article-list">
    <ul class="tags-list">
        <li>
        {% if site.recommend-tags and site.tags.size>0 %}
            {% for tag in site.tags %}
            <a href="#{{ tag[0] }}" class="tag">{{ tag[0]}}</a>
            {% endfor %}
        {% endif %}
        </li>
        
        {% for tag in site.tags %}
        <li>
            <span class="tag-name" id="{{ tag[0] }}">「{{ tag[0] }}」</span>
            {% for post in tag[1] %}
            <a class="tag-post" href="{{ post.url | relative_url }}" title="{{ post.title }}">- {{ post.title }}</a>
            {% endfor %}
        </li>
        {% endfor%}
    </ul>
    </div>

   <aside class="g-sidebar-wrapper">
    <br/><br/>
        <div class="g-sidebar">
            <section class="author-card">
                <div class="avatar">
                    <img src="{{ site.avatar | relative_url }}" alt="">
                </div>
                <div class="author-name" rel="author">{{ site.author }}</div>
                <div class="bio">
                    <p>{{ site.bio }}</p>
                </div>
                {% if site.sns.size > 0 %}
                <ul id="sns-links" class="sns-links">
                    {% for s in site.sns %}
                    <li>
                        <a href="{{ s[1] }}" target="_blank">
                            <i class="iconfont icon-{{ s[0] }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>

            {% if site.recommend-tags and site.tags.size>0 %}
            <section class="tags-card">
                {% for tag in site.tags %}
                    {% if forloop.index > site.recommend-condition-size %}
                        {% break %}
                    {% endif %}
                    <a href="{{ "tags.html#" | append: tag[0] | relative_url }}" class="tag">{{ tag[0]}}</a>
                {% endfor %}
            </section>
            {% endif %}
        </div>

        {% if site.search %}
        <div class="search-card">
            <input id="search_input" type="text" placeholder="Search..." autocomplete="off">
            <i class="iconfont icon-search"></i>
            <div class="search_result"></div>
        </div>
        {% endif %}

    </aside>

</main>


    
{% include footer.html %}
