<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ '' | relative_url }}/"><font color="#c98e0e">rokhimin</font>whd</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ '' | relative_url }}/">Home</a>
                <a class="nav-item nav-link" href="{{ 'projects' | relative_url }}">Projects</a>
                <a class="nav-item nav-link" href="{{ 'tags' | relative_url }}">Tags</a>
                <a class="nav-item nav-link" href="{{ 'about' | relative_url }}">About</a>
            </div>
        </div>
    </div>
</nav>
